@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";


*{
  font-family: Outfit;
}

/* Custom Scrollbar for WebKit Browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #007bff; /* Blue color */
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #0056b3; /* Darker blue on hover */
}

/* Custom Scrollbar for Firefox */
html {
  scrollbar-color: #007bff #f1f1f1;
  scrollbar-width: thin;
}
